@model IEnumerable<HundredThievesWebsite.Models.BlogEntree>

@{
    ViewData["Title"] = "_Index";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-index-container">
	<div class="container-fluid" id="blog-container">
		<div class="pre-loader block">
			<div class="loader-wrapper">
				<div class="loader"></div>
			</div>
		</div>
		<div class="clipper-left">
			<div class="loader-text">
				<img src="~/images/whitelogo.png" />
			</div>
		</div>
		<div class="clipper-right">
			<div class="loader-text">
				"Blog"

			</div>
		</div>
		

		<section class="previews">

			<div class="_container" id="preview-images">
				<div class="preview-border">
					<div class="sidebar-nav" id="blog-nav-title">
						<div class="home-logo" id="blog-logo">
							@*<a href="#">
							<img src="/images/whitelogo.png" id="home-logo-nav-image" />
							</a>*@
							"Blog"
						</div>
						<div class="home-logo-border"></div>
					</div>
				</div>
				<div class="_cover">
					
					
						<figure class="absolute-bg preview__img" id="BrandNews"></figure>

						<figure class="absolute-bg preview__img" id="EsportsNews">
							@*<div class="video-container">
							<video id="esportsVideo" src="~/images/100t-juvee3.mp4" type="video/mp4" playsinline autoplay muted loop></video>
							<div class="inner-video-container">
							<video id="innerVideo" src="~/images/100t-juvee3.mp4" type="video/mp4" playsinline autoplay muted loop></video>

							</div>
							</div>*@
						</figure>
					
						<figure class="absolute-bg preview__img" id="CreatorNews">
							@*<video id="esportsVideo" src="~/images/100t-valkyrae.mp4" type="video/mp4" playsinline autoplay muted loop></video>
							<div class="inner-video-container">
							<video id="innerVideo" src="~/images/100t-valkyrae.mp4" type="video/mp4" playsinline autoplay muted loop></video>

							</div>*@


						</figure>

						<figure class="absolute-bg preview__img" id="HigroundNews">
							@*<div class="video-container">
							<video id="esportsVideo" src="~/images/100t-val3.mp4" type="video/mp4" playsinline autoplay muted loop></video>
							<div class="inner-video-container">
							<video id="innerVideo" src="~/images/100t-val3.mp4" type="video/mp4" playsinline autoplay muted loop></video>

							</div>
							</div>*@
						</figure>

						<figure class="absolute-bg preview__img" id="ApparelNews">
							@*<video id="higroundVideo" src="~/images/100t-higround3.mp4" type="video/mp4" playsinline autoplay muted loop></video>
							<div class="inner-video-container">
							<video id="innerVideo" src="~/images/100t-Juvee.mp4" type="video/mp4" playsinline autoplay muted loop></video>

							</div>*@
						</figure>
					
					

					
				</div>

				@*<div aria-hidden class='marquee'>
				<div class='line'>
				<p class='text'>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				</p>
				</div>
				<div class='line'>
				<p class='text'>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				</p>
				</div>
				<div class='line'>
				<p class='text'>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				</p>
				</div>
				<div class='line'>
				<p class='text'>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span> Blog <span class="highlight">Blog </span>
				</p>
				</div>
				<div class='line'>
				<p class='text'>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>We Are <span class="highlight">Thieves </span>
				</p>
				</div>
				</div>*@

			</div>


			<!-- Blog Entrees -->
			<div id="blog-tabs">
				@*<div class="blog-background-text">
					<h1>Blog</h1>
				</div>*@
				<header>
					<ul class="tabs">
						<li class="tabs__item">Posts</li>
						<li class="tabs__item">Categories</li>
						<li class="tabs__item">Submit</li>
					</ul>
				</header>
				<div class="tab">
				</div>

				<div class="container" id="blog-list-container">
					<div class="_container">




						<ul itemscope itemtype="http://schema.org/Blog" class="BlogEntreeFormPosts">

							@foreach (var item in Model)
							{

								<li class="preview" data-index="@Html.DisplayFor(modelItem => item.BlogEntreeId) itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" id="BlogEntreeFormPostItem">
									<div class="product">
										<div class="product__close">Close</div>
									
										<div class="blog-entree-container">
											<div class="blog-photo">
												<img class="product__img" src="/images/1.jpg" />
											</div>

											<div class="blog-entree-text-container">
												<div class="product__brand">@Html.DisplayFor(modelItem => item.Posted)</div>
												<div class="product__title">@Html.DisplayFor(modelItem => item.Title)</div>
												<div class="product__subtitle">@Html.DisplayFor(modelItem => item.Description)</div>
												<div class="product__subtitle product__subtitle--expanded" style="--delay: 0.3s">
													@Html.DisplayFor(modelItem => item.Description)
													100 Thieves ("Hundred Thieves") is a premium lifestyle brand and gaming organization.
													Built at the intersection of competitive gaming, entertainment, and apparel, 100 Thieves was founded in 2017 by Matthew "Nadeshot" Haag, the former OpTic Gaming Call of Duty captain, X Games gold medalist,
													and 2014 Esports Athlete of the Year. After retiring from competitive play, Matt founded 100 Thieves as a creative outlet for his entrepreneurial passions.
													<br />
													<br />
													In its first two years, 100 Thieves has won multiple esports major championships in Call of Duty, made the League of Legends and Fortnite World Championships,
													launched the top gaming podcasts on iTunes, sold out over a dozen apparel drops, and is supported by major partners such as Cash App, Chipotle, Rocket Mortgage, Lexus, and Rockstar.
													The company is currently valued at $460M and has raised a total of $120M from investors including Drake, Scooter Braun, Cleveland Cavaliers Owner & Quicken Loans Chairman Dan Gilbert,
													Artist Capital Management, Ludlow Ventures, Green Bay Ventures, and Sequoia. 100 Thieves' mission is to give every gamer something to be proud of.
													100 Thieves ("Hundred Thieves") is a premium lifestyle brand and gaming organization.
													Built at the intersection of competitive gaming, entertainment, and apparel, 100 Thieves was founded in 2017 by Matthew "Nadeshot" Haag, the former OpTic Gaming Call of Duty captain, X Games gold medalist,
													and 2014 Esports Athlete of the Year. After retiring from competitive play, Matt founded 100 Thieves as a creative outlet for his entrepreneurial passions.
													<br />
													<br />
													In its first two years, 100 Thieves has won multiple esports major championships in Call of Duty, made the League of Legends and Fortnite World Championships,
													launched the top gaming podcasts on iTunes, sold out over a dozen apparel drops, and is supported by major partners such as Cash App, Chipotle, Rocket Mortgage, Lexus, and Rockstar.
													The company is currently valued at $460M and has raised a total of $120M from investors including Drake, Scooter Braun, Cleveland Cavaliers Owner & Quicken Loans Chairman Dan Gilbert,
													Artist Capital Management, Ludlow Ventures, Green Bay Ventures, and Sequoia. 100 Thieves' mission is to give every gamer something to be proud of.
												</div>
												<div class="product__detail">
													<span class="preview__more">Read More</span>
												</div>
											</div>
										</div>


									</div>
									<span class="preview__close"></span>
									@*<a class="preview__link" asp-action="details" asp-route-id="@item.BlogEntreeId" itemprop="url">
								<span class="preview__date" itemprop="datePublished">
								@Html.DisplayFor(modelItem => item.Posted)
								</span>
								<h2 class="preview__header" itemprop="name">
								@Html.DisplayFor(modelItem => item.Title)
								</h2>
								<p class="preview__excerpt" itemprop="description">
								@Html.DisplayFor(modelItem => item.Description)
								</p>

								</a>  *@
									<span class="preview__overlay"></span>
								</li>

							}

							@*<li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<a class="preview__link" href="#" itemprop="url">
							<span class="preview__date" itemprop="datePublished" datetime="2016-09-08T00:00:00-07:00">Sep 8, 2016</span>
							<h2 class="preview__header" itemprop="name">100 Thieves Takes on Cloud9 in VCT Americas</h2>
							<p class="preview__excerpt" itemprop="description">Banh mnkichartreuse....</p>


							</a>
							</li>
							<li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<a class="preview__link" href="#" itemprop="url">
							<span class="preview__date" itemprop="datePublished" datetime="2016-09-05T00:00:00-07:00">Sep 7, 2016</span>
							<h2 class="preview__header" itemprop="name">Higround Crystal Keyboards Now Available</h2>
							<p class="preview__excerpt" itemprop="description">8-bit typewrry...</p>
							<span class="preview__more">Read More</span>
							</a>
							</li>
							<li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<a class="preview__link" href="#" itemprop="url">
							<span class="preview__date" itemprop="datePublished" datetime="2016-09-04T00:00:00-07:00">Sep 6, 2016</span>
							<h2 class="preview__header" itemprop="name">New Juvee Flavor: Blue Razz </h2>
							<p class="preview__excerpt" itemprop="description">Flexitanora leo selvage...</p>
							<span class="preview__more">Read More</span>
							</a>
							</li>
							<li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<a class="preview__link" href="#" itemprop="url">
							<span class="preview__date" itemprop="datePublished" datetime="2016-09-07T00:00:00-07:00">Sep 5, 2016</span>
							<h2 class="preview__header" itemprop="name">Spring Bloom Collection Out Now</h2>
							<p class="preview__excerpt" itemprop="description">Tbh vaaoriatica. Veg, vice...</p>
							<span class="preview__more">Read More</span>
							</a>
							</li>
							<li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<a class="preview__link" href="#" itemprop="url">
							<span class="preview__date" itemprop="datePublished" datetime="2016-09-06T00:00:00-07:00">Sep 4, 2016</span>
							<h2 class="preview__header" itemprop="name">Spotlight Series Applications Open Now</h2>
							<p class="preview__excerpt" itemprop="description">Humblebrag ramps single-ormbray bitters...</p>
							<span class="preview__more">Read More</span>
							</a>
							</li>*@


						</ul>
					</div>

				</div>

				<div class="tab">
					<ul class="cards">
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="EsportsNews">
									</figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Esports News</h2>
									<p class="card__count">3 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="ApparelNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Apparel News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="BrandNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Brand News</h2>
									<p class="card__count">3 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="HigroundNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Higround News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="CreatorNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Creator News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" style="background-image: url('https://unsplash.it/500/300?image=16');"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Juice</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
					</ul>

					<div class="tab">
						<ul class="submit">
							<li>
								<div class="create-container">
									<a class="create" asp-action="Create">
										<p>Create</p>
									</a>
									<p class="create">
										<a class="create" asp-action="Create">Create</a>
									</p>
								</div>
							</li>
						</ul>

					</div>

				</div>
				@*<footer class="section-padding--sm footer">
					<a class="footer__archive" href="#">Archive</a>
					<ul class="footer__social">
						<li><a class="fa fa-lg fa-envelope-o" href="mailto:thomas.vaeth@gmail.com"></a></li>
						<li><a class="fa fa-lg fa-github" href="https://github.com/thomasvaeth" target="_blank"></a></li>
						<li><a class="fa fa-lg fa-codepen" href="https://codepen.io/thomasvaeth/" target="_blank"></a></li>
						<li><a class="fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/thomasvaeth" target="_blank"></a></li>
						<li><a class="fa fa-lg fa-twitter" href="https://twitter.com/thomasvaeth" target="_blank"></a></li>
						<li><a class="fa fa-lg fa-facebook" href="https://www.facebook.com/thomas.vaeth" target="_blank"></a></li>
						<li><a class="fa fa-lg fa-instagram" href="https://www.instagram.com/thomas.vaeth/" target="_blank"></a></li>
					</ul>
				</footer>*@
			</div>
		</section>



		@*<div class="backg"></div>

		<div class="nav-wrapper">
		<div class="outer-content">
		<div class="title">
		<h1>Minimal Navigation</h1>
		</div>
		</div>

		<div class="menu-strip">
		<div class="toggle-btn">
		<ion-icon name="menu"></ion-icon>
		</div>
		</div>

		<div class="menu">
		<div class="images">
		<span class="bg bg1 hide"></span>
		<span class="bg bg2 hide"></span>
		<span class="bg bg3 hide"></span>
		<span class="bg bg4 hide"></span>
		<span class="bg bg5 hide"></span>
		</div>
		</div>

		<div class="nav">
		<div class="menu">
		<ul>
		<li class="menu-item-1">
		<span id="order">01.</span>
		<span id="menu">&nbsp;Home / </span>
		<span id="tag">intro</span>
		</li>
		<li class="menu-item-2">
		<span id="order">02.</span>
		<span id="menu">&nbsp;Our story / </span>
		<span id="tag">the building</span>
		</li>
		<li class="menu-item-3">
		<span id="order">03.</span>
		<span id="menu">&nbsp;Portfolio / </span>
		<span id="tag">work we've done</span>
		</li>
		<li class="menu-item-4">
		<span id="order">04.</span>
		<span id="menu">&nbsp;Thesis</span>
		<span id="tag">the pursuit</span>
		</li>
		<li class="menu-item-5">
		<span id="order">05.</span>
		<span id="menu">&nbsp;Contact / </span>
		<span id="tag">say hello</span>
		</li>
		</ul>

		<div class="media-block">
		<div class="media">
		<ul>
		<li><ion-icon name="logo-facebook"></ion-icon></li>
		<li><ion-icon name="logo-instagram"></ion-icon></li>
		<li><ion-icon name="logo-twitter"></ion-icon></li>
		<li><ion-icon name="logo-youtube"></ion-icon></li>
		</ul>
		</div>
		</div>
		</div>


		</div>
		*@
	</div>




</div>
