@model IEnumerable<HundredThievesWebsite.Models.BlogEntree>

@{
    ViewData["Title"] = "_Index";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-index-container">
	<div class="container-fluid" id="blog-container">
		<div class="pre-loader block">
			<div class="loader-wrapper">
				<div class="loader"></div>
			</div>
		</div>
		<div class="clipper-left">
			<div class="loader-text">
				<img src="~/images/whitelogo.png" />
			</div>
		</div>
		<div class="clipper-right">
			<div class="loader-text">
				"Blog"

			</div>
		</div>
		

		<section class="previews">

			<div class="_container container" id="preview-images">
				<div class="preview-border">
					<div class="sidebar-nav" id="blog-nav-title">
						<div class="home-logo" id="blog-logo">

							"Blog"
						</div>
						
					</div>
				</div>
				<div class="_cover">
					
					
						<figure class="absolute-bg preview__img" id="BrandNews"></figure>

						<figure class="absolute-bg preview__img" id="EsportsNews">

						</figure>
					
						<figure class="absolute-bg preview__img" id="CreatorNews">



						</figure>

						<figure class="absolute-bg preview__img" id="HigroundNews">

						</figure>

						<figure class="absolute-bg preview__img" id="ApparelNews">

						</figure>
				</div>

			</div>


			<!-- Blog Entrees -->
			<div id="blog-tabs">

				<header>
					<ul class="tabs">
						<li class="tabs__item">Posts</li>
						<li class="tabs__item">Categories</li>
						<li class="tabs__item">
							<a asp-area="" asp-controller="Blog" asp-action="Create">Submit</a>
						</li>
					</ul>
				</header>
				<div class="tab">
				</div>

				<div class="container" id="blog-list-container">
					<div class="_container">




						<ul itemscope itemtype="http://schema.org/Blog" class="BlogEntreeFormPosts">

							@foreach (var item in Model)
							{

								<li class="preview" data-index="@Html.DisplayFor(modelItem => item.BlogEntreeId) itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" id="BlogEntreeFormPostItem">
									<div class="product">
										<div class="product__close">Close</div>
									
										<div class="blog-entree-container">
											<div class="blog-photo">
												<img class="product__img" src="/images/1.jpg" />
											</div>

											<div class="blog-entree-text-container">
												<div class="product__brand">@Html.DisplayFor(modelItem => item.Posted)</div>
												<div class="product__title">@Html.DisplayFor(modelItem => item.Title)</div>
												<div class="product__subtitle">@Html.DisplayFor(modelItem => item.Description)</div>
												<div class="product__subtitle product__subtitle--expanded" style="--delay: 0.3s">
													@Html.DisplayFor(modelItem => item.Description)
													100 Thieves ("Hundred Thieves") is a premium lifestyle brand and gaming organization.
													Built at the intersection of competitive gaming, entertainment, and apparel, 100 Thieves was founded in 2017 by Matthew "Nadeshot" Haag, the former OpTic Gaming Call of Duty captain, X Games gold medalist,
													and 2014 Esports Athlete of the Year. After retiring from competitive play, Matt founded 100 Thieves as a creative outlet for his entrepreneurial passions.
													<br />
													<br />
													In its first two years, 100 Thieves has won multiple esports major championships in Call of Duty, made the League of Legends and Fortnite World Championships,
													launched the top gaming podcasts on iTunes, sold out over a dozen apparel drops, and is supported by major partners such as Cash App, Chipotle, Rocket Mortgage, Lexus, and Rockstar.
													The company is currently valued at $460M and has raised a total of $120M from investors including Drake, Scooter Braun, Cleveland Cavaliers Owner & Quicken Loans Chairman Dan Gilbert,
													Artist Capital Management, Ludlow Ventures, Green Bay Ventures, and Sequoia. 100 Thieves' mission is to give every gamer something to be proud of.
													100 Thieves ("Hundred Thieves") is a premium lifestyle brand and gaming organization.
													Built at the intersection of competitive gaming, entertainment, and apparel, 100 Thieves was founded in 2017 by Matthew "Nadeshot" Haag, the former OpTic Gaming Call of Duty captain, X Games gold medalist,
													and 2014 Esports Athlete of the Year. After retiring from competitive play, Matt founded 100 Thieves as a creative outlet for his entrepreneurial passions.
													<br />
													<br />
													In its first two years, 100 Thieves has won multiple esports major championships in Call of Duty, made the League of Legends and Fortnite World Championships,
													launched the top gaming podcasts on iTunes, sold out over a dozen apparel drops, and is supported by major partners such as Cash App, Chipotle, Rocket Mortgage, Lexus, and Rockstar.
													The company is currently valued at $460M and has raised a total of $120M from investors including Drake, Scooter Braun, Cleveland Cavaliers Owner & Quicken Loans Chairman Dan Gilbert,
													Artist Capital Management, Ludlow Ventures, Green Bay Ventures, and Sequoia. 100 Thieves' mission is to give every gamer something to be proud of.
												</div>
												<div class="product__detail">
													<span class="preview__more">Read More</span>
												</div>
											</div>
										</div>


									</div>
									<span class="preview__close"></span>
									<span class="preview__overlay"></span>
								</li>

							}

						</ul>
					</div>

				</div>

				<div class="tab">
					<ul class="cards">
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="EsportsNews">
									</figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Esports News</h2>
									<p class="card__count">3 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="ApparelNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Apparel News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="BrandNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Brand News</h2>
									<p class="card__count">3 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="HigroundNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Higround News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" id="CreatorNews"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Creator News</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
						<li class="card">
							<a class="card__link" href="#">
								<div class="card__img">
									<figure class="absolute-bg" style="background-image: url('https://unsplash.it/500/300?image=16');"></figure>
								</div>
								<div class="card__container">
									<h2 class="card__header">Juice</h2>
									<p class="card__count">2 Posts</p>
									<span class="card__more">View All</span>
								</div>
							</a>
						</li>
					</ul>

					<div class="tab">
						<ul class="submit">
							<li>
								<div class="create-container">
									<a class="create" asp-action="Create">
										<p>Create</p>
									</a>
									<p class="create">
										<a class="create" asp-action="Create">Create</a>
									</p>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>
		</section>
	</div>
</div>
